{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="content">
    <!-- <div class="container"> -->
        <div class="row justify-content-center">
            <div class="col">
                <div class="text-center">
                    <h3>
                        {% if user.is_authenticated %}
                        <button type="button" class="btn btn-primary float-start" data-toggle="modal" data-target="#modal-create-single">
                            Add New Employee
                        </button>

                        <a href="/download" class="btn btn-success btn-xs">Download Employees Data</a>

                        <button type="button" class="btn btn-secondary float-end" data-toggle="modal" data-target="#modal-create-multi">
                            Add Multiple New Employees from Files
                        </button>
                        {% else %}
                        Please Login To Access Employees Data
                        {% endif %}
                    </h3>
                </div>

                <table class="employee-table table table-hover table-striped-columns table-dark align-middle">
                    <tr class="table-header text-center">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                        {% if user.is_authenticated %}
                        <th>Action</th>
                        {% else %}
                        {% endif %}
                    </tr>

                    {% for employee in employees %}
                    <tr>
                        {% if user.is_authenticated %}
                        <td>{{employee.id}}</td>
                        <td>{{employee.name}}</td>
                        <td>{{employee.email}}</td>
                        <td>{{employee.phone}}</td>
                        <td>{{employee.address}}</td>
                        
                        <td class="text-center">
                            <a href="/update/{{employee.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modal-update{{employee.id}}">Edit</a>
                            <a href="/delete/{{employee.id}}" class="btn btn-danger btn-xs" onclick="return confirm ('Delete This Employee Data?')">Delete</a>
                        </td>
                        {% else %}
                        <td>{{employee.id}}</td>
                        <td>****************</td>
                        <td>****************</td>
                        <td>****************</td>
                        <td>****************</td>
                        {% endif %}

                        <!-- MODAL UPDATE EMPLOYEE -->
                        <div id="modal-update{{employee.id}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h4 class="modal-title">Update Employee Information</h4>
                                    </div>

                                    <div class="modal-body">
                                        <form action="{{url_for('views.update')}}" method="POST">
                                            <div class="form-group">
                                                <label>Name:</label>
                                                <input type="hidden" name="id" value="{{employee.id}}">
                                                <input type="text" class="form-control" name="name" value="{{employee.name}}">
                                            </div>

                                            <div class="form-group">
                                                <label>Email:</label>
                                                <input type="text" class="form-control" name="email" value="{{employee.email}}">
                                            </div>

                                            <div class="form-group">
                                                <label>Phone:</label>
                                                <input type="number" class="form-control" name="phone" value="{{employee.phone}}">
                                            </div>

                                            <div class="form-group">
                                                <label>address:</label>
                                                <input type="text" class="form-control" name="address" value="{{employee.address}}">
                                            </div>

                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success">
                                                    Update
                                                </button>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Cancel
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </tr>

                    {% endfor %}
                </table>

            </div>
        </div>
    <!-- </div> -->
</div>

<!-- MODAL CREATE NEW EMPLOYEE -->
<div id="modal-create-single" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Add Employee</h4>
            </div>

            <div class="modal-body">
                <form action="{{url_for('views.create')}}" method="POST">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" name="name" required="1">
                    </div>

                    <div class="form-group">
                        <label>Email:</label>
                        <input type="text" class="form-control" name="email" required="1">
                    </div>

                    <div class="form-group">
                        <label>Phone:</label>
                        <input type="number" class="form-control" name="phone" required="1">
                    </div>

                    <div class="form-group">
                        <label>Address:</label>
                        <input type="text" class="form-control" name="address" required="1">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success">
                            Add New Employee
                        </button>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cancel
                </button>
            </div>

        </div>
    </div>
</div>

<!-- MODAL CREATE MULTI NEW EMPLOYEE -->
<div id="modal-create-multi" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Add Multiple Employee</h4>
            </div>

            <div class="modal-body">
                <form action="{{url_for('views.multi')}}" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Upload your csv file <b>(File must contain No, Name, Email, Phone, Address)</b></label>
                        <input type="file" class="form-control" name="upload" id="upload" required="1">
                    </div>

                    <div class="form-group">

                        <button type="submit" class="btn btn-success">
                            Submit
                        </button>

                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cancel
                </button>
            </div>

        </div>
    </div>
</div>

{% endblock %}
