.header h1{
    background-color: rgb(112, 168, 179);
    padding: 1rem;
    border-radius: 0px 0px 50px 50px;
}

.employee-table{
    box-shadow: 10px 10px 5px lightblue;
}

.btn{
    box-shadow: 0px 2px 5px lightblue;
}

.content{
    margin: 1rem;
}